@import '../../utils/GlobalStyle/variables';


.stars-container {
    display: flex;
    align-items: center;
  }
  
  .star {
    color: #ebecf0; 
    margin-right: 5px;
  
    &.active {
      color: $primary-color; 
    }
  }