 

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    width: 1240px;
    margin: 50px auto;
    box-sizing: border-box;

    @media (max-width: 600px) {
        width: 100%;
        padding: 20px 20px 20px 27px;
        margin: 0px;
      }
    .nav__kasa {
        font-size: 50px;

        @media (max-width: 600px) { 
            font-size: 30px;
          }
    }


    .nav__link-container {
        display: flex;
        gap: 57px;
        justify-content: flex-end;

        a.active {
          text-decoration: underline;
      }

        @media (max-width: 600px) {
            gap: 27px;
          }

        a {
            color: black;
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
        
            &:hover, 
            &:active, 
            &:visited {
                color: black; /* Couleur noire pour les états survolé, actif et visité */
            }

            @media (max-width: 600px) {
                font-size: 12px;
                justify-content: flex-end;
              }
        }
    }

    
}