.error-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  
  .link-home {
    font-weight: 500;
    font-size: 18px;
  }
  
  .error-404 {
    font-weight: 700;
    font-size: 288px;
  }
  
  .error-subtitle {
    font-weight: 500;
    font-size: 36px;
  }
}