@import '../../utils/GlobalStyle/variables';


.container-main {
    display: flex;
    flex-direction: column;
    width: 1240px;
    margin-top: 30px;
    @media (max-width : 600px) {
      width: 100%;
      margin-bottom: 27px;
    }
    
    .container-titre {
      display: flex;    
      width: 1240px;
      justify-content: space-between;
      gap: 20px; 
      @media (max-width : 600px) {
        flex-direction: column;
        width: 100%;
        margin-bottom: 13px;
      }
      .titre-tags { 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        .titre-logement {
          font-weight: 500;
          font-size: 36px;
          color: $primary-color;
          display: flex;
          flex: 1;
          margin: 0;
          @media (max-width : 600px) {
            font-size: 18px;
            flex-wrap: wrap;
          }
        }
    
        .localisation {
          font-weight: 500;
          font-size: 18px;
          color: black;
          margin: 0;
          @media (max-width : 600px) {
            font-size: 14px;
            margin-top: 5px;
          }
        }
        .container-tags {
          display: flex;
          justify-content: flex-start;
          gap: 10px;
          margin-top: 20px;
          width: 100%;
          @media (max-width : 600px) {
            flex-wrap: wrap;
          }
          .tags-div {
            background-color: $primary-color;
            border-radius: 10px;
            min-width: 115px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 10px;
            @media (max-width : 600px) {
              min-width: 85px;
            }
    
            .tags-texte {
              color: white;
              font-weight: 700;
              font-size: 14px;
              @media (max-width : 600px) {
                font-size: 10px;
              }
            }
          }
        }
      }
    
      
        .name-rating{
          display: flex;
          flex-direction: column;
          align-items: flex-end;


          @media (max-width : 600px) {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
    
        }
          
        
          .name-div {
              display: flex;
              align-items: center;
              margin-bottom: 20px;
              @media (max-width : 600px) {
                justify-content: flex-end;
                margin-bottom: 0px;
              }
        
              .name {
                font-weight: 500;
                font-size: 18px;
                text-align: right;
                margin-right: 10px;
                color: $primary-color;
                display: flex;
                flex-direction: column;
                @media (max-width : 600px) {
                  font-size: 12px;
                }
              }
        
              .name-photo {
                border-radius: 50%;
                width: 64px;
                height: 64px;
                @media (max-width : 600px) {
                  width: 32px;
                  height: 32px;
                }
              }
            }
          }  
  }
      
      
    .colapses {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 76px;
      margin: 24px 0px 50px;
      @media (max-width : 600px) {
        margin : 0px;
        flex-direction: column;
        gap : 20px;

    }
    } 
  
}