.colapse-container {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
  
  .colapse-header {
    border-radius: 10px;
    display: flex;
    height: 52px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: #ff6060;
    padding: 10px;
  }
  
  .equipement-ligne {
    font-weight: 400;
    font-size: 18px;
  }
  
  .colapse-text {
    margin-top: 10px;
  
    &.hidden {
      display: none;
    }
  
    &.visible {
      display: block;
    }
  }